// Fonts
//@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import 'bootstrap/scss/bootstrap';

.tabler-flash-message {
    position: fixed;
    top: 10px;
    right: 10px;
    min-width: 350px;
    z-index: 9999;
}
